MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_USER=root
MONGO_PASS=taurus
MONGO_DB=taurus
MONGO_TENANT=tenant_1

POSTGRES_HOST=localhost
POSTGRES_PORT=5431
POSTGRES_USER=postgres
POSTGRES_PASS=password
POSTGRES_DB=taurus
POSTGRES_SCHEMA=t1
POSTGRES_TENANT=tenant_1